@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer l

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WFEngine</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/themify.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>
<body>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <div class="error-wrapper">
            <div class="container">
                <img class="img-100" src="~/images/other-images/sad.png" alt="">
                <div class="error-heading">
                    <h2 class="headline font-info">@l["Title"]</h2>
                </div>
                <div class="col-md-8 offset-md-2">
                    <p class="sub-content">@l["SubContent"]</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/js/icons/feather-icon/feather-icon.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>